@page

@model ConfirmEmailModel

@{
    Layout = "_AMasterpage_2";
}
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" style="position:absolute; top:200px;" />
