<div class="reminders">
    <div class="header">
        <h2>Exit Survey</h2>
    </div>
    <div class="notification add-reminder">
        <div>
            <span class="material-icons-sharp">
                add
            </span>
            <h3>Exit Survey</h3>
        </div>
    </div>
    <div class="notification add-reminder">
        <div>
            <a href="/RequirementFiles/TemplateFiles/INTERNSHIP-EXIT-SURVEY.admin.pdf" target="_blank">Get Template</a>
        </div>
    </div>
    <hr />

    <div class="header">
        <h2>Performance Evaluation</h2>
    </div>
    <div class="notification add-reminder">
        <div>
            <span class="material-icons-sharp">
                add
            </span>
            <h3>Performance Evaluation</h3>
        </div>
    </div>
    <div class="notification add-reminder">
        <div>
            <a href="/RequirementFiles/TemplateFiles/STUDENT-PERFORMANCE-EVALUATION.admin.pdf" target="_blank">Get Template</a>
        </div>
    </div>
</div>