@* _StudentExit.cshtml *@
<form method="post" asp-action="SubmitExit" asp-controller="Dashboard" enctype="multipart/form-data">
<div class="reminders">
    <div class="header">
        <h2>Exit Survey</h2>
    </div>
    <div class="notification add-reminder">
        <div>
                <div style="margin-top:10px;" class="prediction" style="margin-bottom: 20px;">
                    <input type="file" id="attachDocumentButton" name="postedFiles1" />
                    <button type="submit" style="font-size:12px;">Submit</button>
                </div>
        </div>
    </div>
    <div class="notification add-reminder">
        <div>
            <a style="text-decoration: none;" href="/RequirementFiles/TemplateFiles/INTERNSHIP-EXIT-SURVEY.admin.pdf" target="_blank">Get Template</a>
        </div>
    </div>
    <hr />

    <div class="header">
        <h2>Performance Evaluation</h2>
    </div>
    <div class="notification add-reminder">
        <div>
            <div style="margin-top:10px;" class="prediction" style="margin-bottom: 20px;">
                <input type="file" id="attachDocumentButton" name="postedFiles2" />
                    <button type="submit" style="font-size:12px;">Submit</button>
            </div>
        </div>
    </div>
    <div class="notification add-reminder">
        <div>
            <a style="text-decoration: none;" href="/RequirementFiles/TemplateFiles/STUDENT-PERFORMANCE-EVALUATION.admin.pdf" target="_blank">Get Template</a>
        </div>
    </div>
</div>
</form>