@model ML_ASP.Models.ViewModel.RequirementVM

@{
    Layout = "_AMasterPage_2";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minimalist Pop-Up Design</title>
    <link rel="stylesheet" href="~/css/CustomPopup.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
        <div class="main-content">
            <p>Document Requirements</p>
        <form method="post" enctype="multipart/form-data" asp-controller="RequirementFile" asp-action="SubmitDocument">
            <div id="popup" class="popup-overlay">
                <div class="popup-content">
                    <span class="close-btn">&times;</span>
                    <h2>Add Document</h2>

                    <label for="title">Title:</label>
                    <input type="text" name="title" id="title" placeholder="Provide document title, e.g., 'Document'">

                    <label for="description">Document Description:</label>
                    <textarea id="description" name="description" placeholder="Provide document description"></textarea>

                    <div>
                        <label for="mandatory">This document is mandatory</label>
                    </div>

                    <div class="prediction" style="margin-bottom: 20px;">
                        <input type="file" id="attachDocumentButton" name="postedFiles0" />
                    </div>
                    <button type="submit">Submit</button>
                </div>
            </div>
            <div class="document-item">
                <p>Application Form</p>

                @if (Model.FileName1 == null)
                {
                    <div class="text-danger">You didn't submit anything for the Application Form.</div>
                }

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <label>Categories</label>
                <div class="form-floating mb-2 py-1">
                    <div>
                        <label for="OffCampus">
                            <input type="radio" asp-for="AccountInfoModel.Category" value="Off-Campus" name="campusOption" id="OffCampus" onclick="toggleSelect('offCampusSelect')" />
                            Off-Campus
                        </label>
                    </div>
                    <div>
                        <label for="InCampus">
                            <input type="radio" asp-for="AccountInfoModel.Category" value="In-Campus" name="campusOption" id="InCampus" onclick="toggleSelect('inCampusSelect')" />
                            In-Campus
                        </label>
                    </div>
                    <span id="categoryError" class="text-danger"></span>
                </div>
                <br />

                <div class="form-floating mb-2 py-1" id="inCampusSelect" style="display: none">
                    <select id="inCampusOffices" class="form-control" name="CampusValue">
                        <!-- Options will be populated dynamically -->
                    </select>
                    <span class="text-danger" id="inCampusError"></span>
                </div>

                <div class="form-floating mb-2 py-1" id="offCampusSelect" style="display:none;">
                    <select id="offCampusOffices" class="form-control" name="CampusValue">
                        <!-- Options will be populated dynamically -->
                    </select>
                    <span class="text-danger" id="offCampusError"></span>
                </div>

                <br />

                <button id="addDocumentButton" type="button">+ Add Document</button>

                @if (Model.FileName1 != null)
                {
                    <a class="green-button" href="../RequirementFile/ViewPdf?fileName=@Model.FileName1" target="_blank" style="margin-bottom: 2px;">View Attached Document</a>
                }
                <a class="gray-button" href="../RequirementFile/ViewTemplatePdf?fileName=INTERNSHIP-APPLICATION-FORM@x-.pdf" target="_blank" style="margin-bottom: 2px;">Get Template PDF</a>
            </div>

        </form>

            @*  For document Letter of Indorsement *@
            <div class="document-item">
                <p>Letter of Indorsement</p>
                @if (Model.FileName1 == null)
                {
                    <div class="text-danger">You need to submit the Application Form first.</div>
                    <button disabled class="gray-button"> Disabled </button>
                }
                else if(Model.FileName2 == null)
                {
                    <div class="text-danger">You didn't submit anything for the Letter of Indorsement.</div>
                    <button class="green-button" id="addDocumentButton2">+ Add Document</button>
                }
                else
                {
                    @* <a href="../RequirementFile/ViewImage?fileName=@Model.FileName1" target="_blank" style="margin-bottom: 2px;">View</a> *@
                    <button class="green-button" id="addDocumentButton2">+ Add Document</button>

                    <a class="green-button" href="../RequirementFile/ViewPdf?fileName=@Model.FileName2" target="_blank" style="margin-bottom: 2px;">View Attached Document</a>

                }
                <a class="gray-button" href="../RequirementFile/ViewTemplatePdf?fileName=PARENTAL-CONSENT-2@x..pdf" target="_blank" style="margin-bottom: 2px;">Get Template PDF</a>
            </div>

            @*  For document Notice of Acceptance *@
            <div class="document-item">
                <p>Notice of Acceptance</p>
                @if (Model.FileName2 == null)
                {
                    <div class="text-danger">You need to submit the Notice of Acceptance first.</div>
                    <button disabled class="gray-button"> Disabled </button>
                }
                else if (Model.FileName3 == null)
                {
                    <div class="text-danger">You didn't submit anything for the Notice of Acceptance.</div>
                    <button class="green-button" id="addDocumentButton3">+ Add Document</button>
                }
                else
                {
                    @* <a href="../RequirementFile/ViewImage?fileName=@Model.FileName1" target="_blank" style="margin-bottom: 2px;">View</a> *@
                    <button class="green-button" id="addDocumentButton3">+ Add Document</button>

                    <a class="green-button" href="../RequirementFile/ViewPdf?fileName=@Model.FileName3" target="_blank" style="margin-bottom: 2px;">View Attached Document</a>

                }
                <a class="gray-button" href="../RequirementFile/ViewTemplatePdf?fileName=PARENTAL-CONSENT-2@x..pdf" target="_blank" style="margin-bottom: 2px;">Get Template PDF</a>
            </div>

            @*  For document Parens Concent *@
            <div class="document-item">
                <p>Parents Concent</p>
                @if (Model.FileName3 == null)
                {
                    <button disabled class="gray-button"> Disabled </button>
                }
                else if (Model.FileName4 == null)
                {
                    <button class="green-button" id="addDocumentButton4">+ Add Document</button>
                }
                else
                {
                    @* <a href="../RequirementFile/ViewImage?fileName=@Model.FileName1" target="_blank" style="margin-bottom: 2px;">View</a> *@
                    <button class="green-button" id="addDocumentButton4">+ Add Document</button>

                    <a class="green-button" href="../RequirementFile/ViewPdf?fileName=@Model.FileName4" target="_blank" style="margin-bottom: 2px;">View Attached Document</a>

                }
                <a class="gray-button" href="../RequirementFile/ViewTemplatePdf?fileName=PARENTAL-CONSENT-2@x..pdf" target="_blank" style="margin-bottom: 2px;">Get Template PDF</a>
            </div>

            @*  For document Contract Agreement *@
            <div class="document-item">
                <p>Contract Agreement</p>
                @if (Model.FileName4 == null)
                {
                    <button disabled class="gray-button"> Disabled </button>
                }
                else if (Model.FileName5 == null)
                {
                    <button class="green-button" id="addDocumentButton5">+ Add Document</button>
                }
                else
                {
                    @* <a href="../RequirementFile/ViewImage?fileName=@Model.FileName1" target="_blank" style="margin-bottom: 2px;">View</a> *@
                    <button class="green-button" id="addDocumentButton5">+ Add Document</button>

                    <a class="green-button" href="../RequirementFile/ViewPdf?fileName=@Model.FileName5" target="_blank" style="margin-bottom: 2px;">View Attached Document</a>

                }
                <a class="gray-button" href="../RequirementFile/ViewTemplatePdf?fileName=INTERNSHIP-CONTRACT-AGREEMENT@x..pdf" target="_blank" style="margin-bottom: 2px;">Get Template PDF</a>
            </div>
        </div>

        

        @*     For document Letter of Indorsement     *@
        
        <form method="post" enctype="multipart/form-data" asp-controller="RequirementFile" asp-action="Step2Submit">
        <div id="popup2" class="popup-overlay">
            <div class="popup-content">
                <span class="close-btn2">&times;</span>
                <h2>Add Document</h2>

                <label for="title2">Title:</label>
                <input type="text" name="title2" id="title2" placeholder="Provide document title, e.g., 'Document for OJT'">

                <label for="description2">Document Description:</label>
                <textarea id="description2" name="description2" placeholder="Provide document description"></textarea>

                <div>
                    <label for="mandatory">This document is mandatory</label>
                </div>
                <div class="prediction" style="margin-bottom: 20px;">
                    <input type="file" id="attachDocumentButton2" name="postedFiles1" />
                </div>
                <button type="submit">Submit</button>
            </div>
        </div>
        </form>

        @*     For document Notice of Acceptance     *@
        
        <form method="post" enctype="multipart/form-data" asp-controller="RequirementFile" asp-action="Step3Submit">
            <div id="popup3" class="popup-overlay">
                <div class="popup-content">
                    <span class="close-btn3">&times;</span>
                    <h2>Add Document</h2>

                    <label for="title3">Title:</label>
                    <input type="text" name="title3" id="title3" placeholder="Provide document title, e.g., 'Document for OJT'">

                    <label for="description3">Document Description:</label>
                    <textarea id="description3" name="description3" placeholder="Provide document description"></textarea>

                    <div>
                        <label for="mandatory">This document is mandatory</label>
                    </div>
                    <div class="prediction" style="margin-bottom: 20px;">
                        <input type="file" id="attachDocumentButton3" name="postedFiles2" />
                    </div>

                    <input type="hidden" name="step3" value="step3" />
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>

        @*     For document Parents Concent     *@
        
        <form method="post" enctype="multipart/form-data" asp-controller="RequirementFile" asp-action="Step3Submit">
        <div id="popup4" class="popup-overlay">
            <div class="popup-content">
                <span class="close-btn4">&times;</span>
                <h2>Add Document</h2>

                <label for="title4">Title:</label>
                <input type="text" name="title4" id="title4" placeholder="Provide document title, e.g., 'Document for OJT'">

                <label for="description4">Document Description:</label>
                <textarea id="description4" name="description4" placeholder="Provide document description"></textarea>

                <div>
                    <label for="mandatory">This document is mandatory</label>
                </div>
                <div class="prediction" style="margin-bottom: 20px;">
                    <input type="file" id="attachDocumentButton4" name="postedFiles2" />
                </div>
                <button type="submit">Submit</button>
            </div>
        </div>
        </form>

        @*     For document Contract Agreement     *@
        
        <form method="post" enctype="multipart/form-data" asp-controller="RequirementFile" asp-action="Step2Submit">
        <div id="popup5" class="popup-overlay">
            <div class="popup-content">
                <span class="close-btn5">&times;</span>
                <h2>Add Document</h2>

                <label for="title5">Title:</label>
                <input type="text" name="title5" id="title5" placeholder="Provide document title, e.g., 'Document for OJT'">

                <label for="description5">Document Description:</label>
                <textarea id="description5" name="description5" placeholder="Provide document description"></textarea>

                <div>
                    <label for="mandatory">This document is mandatory</label>
                </div>
                <div class="prediction" style="margin-bottom: 20px;">
                    <input type="file" id="attachDocumentButton5" name="postedFiles1" />
                </div>
                <input type="hidden" name="step" value="laststep" />
                <button type="submit">Submit</button>
            </div>
        </div>
        </form>


        @if (Model.FileName1 != null && Model.FileName2 != null && Model.FileName3 != null && Model.FileName4 != null && Model.FileName5 != null){
        <a class="btn-primary gray-button" style="text-decoration: none;" asp-action="Index" asp-controller="Home"> Done </a>
        }
        else{
            <button class="gray-button" disabled> Disabled </button>
        }
</body>
</html>
@section Scripts {
    @{
        <script src="~/js/Popup/CustomPopup.js"></script>
    }
    <script>
        function infoPopup() {
            Swal.fire({
                title: "Instruction",
                text: `Files that are submitted on steps will be a sent as pending permission to admin,
                                        Further information for acceptance will be sent in Mail you provided in registration.`,
                icon: "info",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                confirmButtonText: "Yes, Understood!"
            });
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            infoPopup();
        });

        function toggleSelect(selectId) {
            var inCampusSelect = document.getElementById("inCampusSelect");
            var offCampusSelect = document.getElementById("offCampusSelect");

            if (selectId === 'inCampusSelect') {
                inCampusSelect.style.display = 'block';
                offCampusSelect.style.display = 'none';
            } else if (selectId === 'offCampusSelect') {
                inCampusSelect.style.display = 'none';
                offCampusSelect.style.display = 'block';
            }
        }
    </script>

    <script>

        document.getElementById('requirementForm').addEventListener('submit', function (event) {
            let isValid = true;
            const categoryError = document.getElementById('categoryError');
            const officeError = document.getElementById('officeError');
            categoryError.innerText = '';
            officeError.innerText = '';

            const selectedCategory = document.querySelector('input[name="campusOption"]:checked');
            if (!selectedCategory) {
                categoryError.innerText = "Please select where you're residing during the training.";
                isValid = false;
            }

            const selectedOffice = (document.getElementById('inCampusSelect').style.display === 'block')
                ? document.getElementById('inCampusOffices').value
                : document.getElementById('offCampusOffices').value;
            if (!selectedOffice) {
                officeError.innerText = "Please select an office where you're residing during the training.";
                isValid = false;
            }

            if (!isValid) {
                event.preventDefault();
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            function populateSelectOptions(optionType, selectId) {
                const select = $('#' + selectId); //id is important to take the key from local storage
                select.empty();
                select.append('<option value="">Please select one of the offices: </option>');
                const options = JSON.parse(localStorage.getItem(optionType));
                if (options) {
                    options.forEach(option => {
                        select.append(`<option value="${option}">${option}</option>`);
                    });
                }
            }

            populateSelectOptions('inCampusOptions', 'inCampusOffices');
            populateSelectOptions('offCampusOptions', 'offCampusOffices');
        });
    </script>

}

<style>
    .text-danger {
        color: red;
    }
</style>